body{
    color:#000000;
    background-image: url(potatoes-vegetables-erdfrucht-bio-144248.jpeg);
}
header{
    background-color:beige;
    text-align: center;
    align-items: flex-end;
}
section{

}
.batata{
    background-image: url("");
}